.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

figure img {
  border-radius: 50%;
  overflow: hidden;
}

figcaption {
  text-align: center;
}

h1,
h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}
